.page-header { background-color: #eee; }
.footer { color: gray; background-color: #eee; }
#domainInput { text-align: right; }
.monospace { font-family: monospace;}
#recaptcha-container {margin: auto; width: 500px;}
