<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Nicht coolen dynamischen Domainnamen bearbeiten</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="nichtcool.css">
	</head>
	<body>
		<div class="page-header">
			<h1>
				Fully qualified nicht coole Domainnamen
				<small>Dynamisches DNS unter MateWare-Lizenz.</small>
			</h1>
		</div>
		
		<div class="row">
			<div class="container col-md-4 col-md-offset-4">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#">Registrieren</a></li>
					<li><a href="/update">Aktualisieren</a></li>
				</ul>

				<h2>Registriere einen nicht coolen dynamischen DNS-Namen</h2>
				<form role="form" method="POST" action="/api/domain/new">
					<div class="form-group">
						<label for="domainInput">Domainname</label>
						<div class="input-group">
							<input type="text" class="form-control" id="domainInput" name="domain" placeholder="deine.mutter">
							<span class="input-group-addon">.ist.nicht.cool</span>
						</div>
						<span class="help-block">Die letzte Komponente des angegeben Namens wird als Wildcard-Subdomain registriert, d.h. <tt>deine.mutter.ist.nicht.cool</tt> wird zu <tt>*.mutter.ist.nicht.cool</tt>.</span>
					</div>
					<div class="form-group">
						<label for="secretInput">Aktualisierungspasswort</label>
						<input type="password" class="form-control" id="secretInput" name="secret" placeholder="hunter1">
						<span class="help-block">Wird beim Aktualisieren der IP verwendet.</span>
					</div>
					<div class="form-group">
					<!-- begin of recaptcha code -->
						<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={{.rcpublic}}"></script>
						<noscript>
							<iframe src="http://www.google.com/recaptcha/api/noscript?k=your_public_key" height="300" width="500" frameborder="0"></iframe><br>
							<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
							<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
						</noscript>
					<!-- end of recaptcha code -->
					</div>
					<!-- the following button is necessary as padding to make the container big enough to accomodate the
					right-flushed submit button. Tested in firefox 29.0 -->
					<button class="btn btn-danger" style="visibility: hidden">&nbsp;</button>
					<button type="submit" class="btn btn-success pull-right">Los!</button>
				</form>
				<footer class="footer">
					<h4>Nutzungsbedingungen</h4>
					<small>
						<p>
							Wenn du diesen nicht coolen DDNS-Dienst eigentlich ganz cool findest, würden wir uns sehr über eine Spende
							von Mate freuen. Wenn du irgendwelche Ideen oder Anregungen hast, schreib' uns doch eine Mail an die im
							<a href="impressum.html">Impressum</a> zu findende Kontaktadresse.
						</p>
						<!-- begin bittip button -->
						<a href="http://bittip.it/" class="bittip-button" default-amount="0.005" default_currency="btc" request="count" url="" donation-message="Vielen%20Dank%20f%C3%BCr%20deine%20nicht%20uncoole%20Spende!" donation-address="1G6yLUkmkZA5ntW8qkCHQJfyYwBEbtW6eC"></a>
						<script>(function() {var s = document.createElement('script');var t = document.getElementsByTagName('script')[0];s.type = 'text/javascript';s.async = true;var url; if (window.location.protocol == 'https:'){url = 'https://bitcoinsberlin.com/wp-content/uploads/2013/01/button-loader.js'} else { url = 'http://bittip.it/cdn/button-loader.js';};s.src = url;t.parentNode.insertBefore(s, t);})();</script>
						<!-- end bittip button -->
						<p>
							Wir zensieren hier nix und es kann sich jeder was er will registrieren. Dementsprechend sind wir
							natürlich nicht dafür verantwortlich, was unsere Nutzer mit unserem Dienst machen.  Wir würden dich
							dennoch bitten, davon abzusehen, unseren Dienst für irgendwelche verbotenen Dinge zu benutzen, weil wir
							dafür Ärger bekommen könnten, den wir nicht wollen.  Wenn du ein Problem damit hast, was einer unserer
							Nutzer mit unserem Dienst macht, schreib' uns doch eine Mail an die Kontaktadresse im
							<a href="impressum.html">Impressum</a>.
						</p>
					</small>
				</footer>
			</div>
		</div>
	</body>
</html>
